<template>
  <h3>Check your reflexes</h3>
  <button @click="startGame" :disabled="isPlaying" >Play</button>
  <block v-if="isPlaying" :delay="delay" @end="stopGame"></block>
  <results v-if="showResult" :score="score"></results>
</template>

<script>

import Block from './components/Block.vue'
import Results from './components/Results.vue'

export default {
  name: 'App',
  components: {
    Block,
    Results
  },
  data() {
    return {
      isPlaying : false,
      delay: null,
      score: null,
      showResult: false
    }
  },
  methods: {
    startGame() {
      this.delay = Math.random() * 5000
      this.isPlaying = true
      this.showResult = false
    },
    stopGame(reactionTime) {
      this.score = reactionTime
      this.isPlaying = false
      this.showResult = true

    }
  },

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
